@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* ========button-primary======== */
.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: white;
  border-radius: 6px;
  padding: 20px 23px;
  font-size: 1.23rem;
  font-weight: 600;
  border: none;
}
.btn-primary:hover {
  background-color: darkorange;
  color: blue;
}

/* ====bg-color===== */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
/* =========brand name ======== */
.brand {
  font-weight: 700px;
  font-size: 2.8rem;
}
/* ========= color======== */
/* dark02 */
.text-gray {
  color: #424242;
}
/* dark-03 */
.text-light-gray {
  color: #727272;
}
/* ===== header styles===== */

/* ======nav styles===== */
.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
}
.nav-links {
  display: flex;
}

.navber,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* =========banner-styles======= */
.banner-content {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-img {
  width: 100%;
}

/* =========Main=========== */
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* ===============section-style========= */

.teams {
  display: flex;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 90px;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.our-features {
  margin-left: 100px;
  max-width: 537px;
}
.ferure-title {
  font-size: 2.8rem;
}
#Quick-list {
  font-weight: 500px;
}
.Quick-list-2 {
  font-weight: 700;
}
.Quick-list-3 {
  font-weight: 700;
  color: rgba(255, 144, 14, 1);
}
.feture-description {
  line-height: 24px;
  letter-spacing: 0;
  margin-top: -24px;
  margin-bottom: 32px;
  font-size: 1.2rem;
}

/* =================Section-2=========== */
.ferure-title-2 {
  font-size: 2.7rem;
  font-weight: 700;
  color: #131313;
  margin: auto 1rem;
}
.feture-description-2 {
  margin: 1rem 20px 1rem;
  font-size: 1.2rem;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact {
  border: 1px solid #e67e22;
  margin: 30px 60px;
  border-radius: 7px;
  width: 200px;
  height: auto;
}
.fact-details {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.fact-number {
  font-size: 45px;
}
.fact-name {
  font-size: 20px;
  font-weight: 600;
}

.line{
  width:  80%;
  height: 4px;
  border-radius: 2px;
 background:  linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
 margin:0 auto;
 margin-top: 70px;
}
/* ==========Section-3============ */

.section-descriotion{
  font-size: 1.0rem;
  color: violet;
}

.Our-Sponspors {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Sponspors-info {
  max-width: 540px;
  max-height: 130px;
  text-align: center;
  margin: 50px auto;
}
.section-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
/* ========img-secton====== */
.img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  margin-bottom: 70px;
}
.sponcer-companies > img {
  margin: auto 40px;
  width: 5rem;
  height: auto;
  transition: background-color 0.3s ease;
}

/* =============footer-desing======== */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer-content {
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100px;
  width: 70%;
  background-color: #fff4e7;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 50px;
}
.footer-description {
  font-size: 20px;
  color: #424242;
}

/* ===================skiped-section========= */

.Feature-card{
  display: flex;
  box-sizing: border-box;
  margin-bottom: 100px;
  
}

/* ==========card-section--========= */

.Features-name{
  font-size: 2.7rem;
  font-weight: 700;
  color: #131313;
  border-left: 5px solid #e67e22;
  padding-left: 1rem;
  border-radius: 2px;
}
.features-description{
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.card-title{
  color:#131313 ;
  font-size: 1.2rem;
  font-weight: 600;
}

.cards{
  max-width: 530px;
   max-height: 170px;
  background-color: #FFFFFF;
  box-shadow: -1px 1px 10px 1px black;
  border-radius: 6px;
  padding: 30px;
  margin-top:20px ;
}


/* =============img-section========== */
.img-section{
  width: 80%;
  height: auto;
}
.section-img{
  width: 90%;
  height: 100%;
}



/* =========Responsive-media-quary===========*/

@media screen and (max-width: 576px) {
  .navber,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 20px;
    text-align: left;
  }
  /* =Section-2  */

  .fact-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .fact {
    width: 90%;
    height: 90%;
    margin: auto auto;
  }
  .line{
    width:  90%;
    height: 5px;
    border-radius: 2px;
   background:  linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
   margin:0 auto;
   margin-top: 20%;
  
  
  }
  /* =========Section-3====== */
  /* ======img===section===== */
  .section-descriotion{
    font-size: 1.2rem;
    color: #626567;
  }
  .sponcer-companies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #f4f6f6;
    border-radius: 19px;
    width: 100%;
    height: auto;
    padding: 2em;
  }
  .sponcer-companies > img {
    width: 60%;
    margin: auto 25px 5px;
  }
  /* ========footer======= */

  .footer-content {
    width: 100%;
    height: auto;
    background-color: #34495e;
  }
  .footer-description {
    color: #f4f6f6;
  }
}

/* =============Medium_devices-responsive============== */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: -10em;
  }
  /* ===section-2=== */
  .fact-container {
    grid-template-columns: repeat(2, 1fr);
  
  }

  /* ========Section-3======= */
  /* ======img-section===== */
  .section-descriotion{
    font-size: 1.4rem;
    color: #e67e22;
  }
  .sponcer-companies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 2em;
  }
  .Our-Sponspors{
    margin: 0 auto;
  }
  .sponcer-companies > img {
    width: 40%;
  }

  /* -=========footer========= */
  .footer-content {
    width: 100%;
    height: auto;
    background-color: #34495e;
  }
  .footer-description {
    color: #f4f6f6;
  }
}
